.nav-bar {
  display: flex;
  padding: 15px 10px;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    padding: 20px 15px;
  }
}

.list-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 15px 10px;
}

@media screen and (min-width: 768px) {
  .list-container {
    padding: 20px 15px;
  }
}

.wave-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wave-img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .wave-img {
    height: 30px;
    width: 30px;
  }
}

.hyper-links-container {
  display: flex;
  justify-content: space-between;
}

.links {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #12022f;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .links {
    font-size: 25px;
    font-weight: 600;
  }
}

.hyper-links {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #12022f;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .links {
    font-size: 25px;
    font-weight: 600;
  }
}
